/* Semua yang berpengaruh */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #0B0B0D;
  color: #B0B0B0;
  /* font-family: 'Montserrat', sans-serif; */
}

h1, h2, h3, p {
  color: #E6E6E6;
  font-family: 'Cinzel', serif;
  text-shadow: 0 0 100px rgba(201, 182, 228, 0.4);
}

a {
  color: #8A1F3D;
  transition: 0.4s;
  text-shadow: 0 0 8px rgba(138, 31, 61, 0.6);

}

a:hover {
  color: #C72C41;
}

/* Navbar part */

.nav-menu ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    }

nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;  
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

/* Header part */

.header {
    width: auto;
    height: 100vh;
    background-image: url(gambar/bgheader.jpg);
    background-size: cover;
    scroll-snap-align: start;
}

.header {
    background-color: #120F1A;
    padding: 10px 0px;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(24, 21, 21, 0.5);
    z-index: 1;
}

.header h1 {
    position: relative;
    text-align: center;
    margin: 20px 0;
    margin-top: 100px;
    font-size: 150px;
    font-weight: 700;
  font-family: 'Cinzel', serif;
  z-index: 1;
}

.header {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

/* Layer background parallax */
.header-bg {
    position: absolute;
    inset: 0;
    background-image: url(gambar/bgheader.jpg);
    background-size: cover;
    background-position: center;
    transform: translateY(0);
    will-change: transform;
    z-index: 1;
}

/* Overlay gelap */
.header-bg::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.45);
}

/* Konten header */
.header-content {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}


/* Section part */

.section1 {
    display: flex;
    background-color: #120F1A;
    margin-bottom: 64px;
    min-height: 100vh;
}

.section1 .about {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    flex: 1;
    padding: 40px;
    font-size: 18px;
    line-height: 1.6;
}

.section1 .gambar-section1 {
    display: flex;
    align-items: center;
    flex: 1;
    width: 100%;
    background-size: cover;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
}

.gambar-section1 img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(201, 182, 228, 0.4);;
}

.gambar-section1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Gambar character part */

.main_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    height: 100vh;
}

.card1 {
    perspective: 3000px;
}

.card{
    width: 250px;
    height: 444px;
    transform-style: preserve-3d;
    transition: transform .5s ease-in-out;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    position: relative;
    box-shadow:
        0 0 15px rgba(180, 120, 255, 0.3),
        0 0 30px rgba(180, 120, 255, 0.2);    
}

.card1:hover .card,
.card2:hover .card,
.card3:hover .card,
.card4:hover .card,
.card5:hover .card{
    transform: rotateY(180deg);
}


.front-page, .back-page{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
}

.front-page,
.back-page{
    background-size: cover;
    background-position: center;
}

.back-page{
    transform: rotateY(180deg);
}

.card1 .front-page { background-image: url(gambar/Togawa_Sakiko.jpg); }
.card1 .back-page  { background-image: url(gambar/TogawaSakiko.jpg); }

.card2 .front-page { background-image: url(gambar/Wakaba_Mutsumi.jpg); }
.card2 .back-page  { background-image: url(gambar/WakabaMutsumi.jpg); }

.card3 .front-page { background-image: url(gambar/Yahata_Umiri.jpg); }
.card3 .back-page  { background-image: url(gambar/YahataUmiri.jpg); }

.card4 .front-page { background-image: url(gambar/Yuutenji_Nyamu.jpg); }
.card4 .back-page  { background-image: url(gambar/YuutenjiNyamu.jpg); }

.card5 .front-page { background-image: url(gambar/Misumi_Uika.jpg); }
.card5 .back-page  { background-image: url(gambar/MisumiUika.jpg); }

.card::before{
    content: "";
    position: absolute;
    inset: -4px;
    border-radius: 18px;
    background: linear-gradient(
        120deg,
        rgba(180,120,255,0.6),
        rgba(120,80,255,0.3),
        rgba(200,150,255,0.6)
    );
    filter: blur(18px);
    opacity: 0;
    transition: opacity .4s ease;
    z-index: -1;
}

/* Glow aktif */
.card1:hover .card::before,
.card2:hover .card::before,
.card3:hover .card::before,
.card4:hover .card::before,
.card5:hover .card::before{
    opacity: 1;
}

/* Footer part */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 60px;
    background-color: #120F1A;
}